<h2>さくらVPSで「Perl + Mojolicious」Webアプリ開発 第9回 Webアプリケーションをデプロイしてみる</h2>



　今日はついにWebアプリケーションを実際に動かしてURLを指定してアクセスできるようにしてみたいと思います。ついにこの時がきました。Webアプリケーションを本番環境に配置することは、デプロイという言葉で呼ばることが多いですので、覚えておきましょう。

　これが、できると後は、環境を整えたり、テクニックを覚えたりして、Webアプリケーションを発展させていくだけです。

　Webアプリケーションは、僕が準備してダウンロードできるようにしてあります。このアプリケーションをダウンロードして、動かしてみましょう。

　まず最初に<b>webapp</b>というユーザーになりましょう。Webアプリケーションはrootユーザーではなく、webappユーザーで実行します。

<pre>
su - webapp
</pre>

　次の手順をリモートコンソールで実行してみてください。リモートコンソールの上部のタイトルバーにあるペーストボタンを使って、コマンドを貼り付けて実行していくのがおすすめです。コマンドを一つ貼り付けるたびにEnterキーを押して実行していきます。

<pre>
curl -kL https://github.com/downloads/yuki-kimoto/webminiapp/webminiapp-0.01.tar.gz > webminiapp-0.01.tar.gz
tar xf webminiapp-0.01.tar.gz
cd webminiapp-0.01
./webminiapp
</pre>

　4つのコマンドがあるので順に説明しましょう。一行目は長いので複数行になっていると思うので注意してください。ひとつのコマンドです。

<h4>Webアプリケーションのダウンロード</h4>

　まず最初にすることはWebアプリケーションのダウンロードです。

<pre>
curl -kL https://github.com/downloads/yuki-kimoto/webminiapp/webminiapp-0.01.tar.gz > webminiapp-0.01.tar.gz
</pre>

　curlというコマンドはWeb上のコンテンツをダウンロードするためのコマンドです。

<pre>
curl オプション URL
</pre>

　<b>-kL</b>というのは<b>-k</b>というオプションと<b>-L</b>というオプションを指定するという意味です。<b>-k -L</b>と書くのと同じ意味になります。<b>-k</b>オプションは、セキュアな接続をしないという意味になり、<b>-L</b>はリダイレクトを行うという意味になります。深い意味は今は覚えなくてもよいです。ふーんという感じでよいです。

　最後にある<b>&gt;</b>は、リダイレクトを行うという意味で、URLで指定したコンテンツを出力するファイル名を指定しています。

　これでローカルディレクトリに<b>webminiapp-0.01.tar.gz</b>というファイルができます。

<h4>ダウンロードしたファイルの展開</h4>

　次はダウンロードしたファイルを展開します。

<pre>
tar xf webminiapp-0.01.tar.gz
</pre>

　tarコマンドは、TAR形式で圧縮されたファイルを展開するためのコマンドです。

<pre>
tar オプション ファイル名
</pre>

　<b>x</b>オプションは、gz形式で圧縮されている場合にも展開することを行うオプションで、<b>f</b>はファイルに対して行うということを意味しています。

　Windowsでもzip形式というものがありますが、実はこれは複数ファイルのアーカイブ化と圧縮を一緒になっている形式です。Linuxでは、複数ファイルを一つのファイルにまとめるのにtar形式というものが用いられます。これはtarコマンドによって作成することができます。また圧縮をするのにgz形式がよく用いられます。これはgzipコマンドによって実行できます。

　拡張子が<b>.tar.gz</b>となっている場合はtarコマンドでTAR形式にアーカイブ化され、gzipコマンドでgz形式に圧縮されたという意味です。上記のコマンドによって、展開することができ<b>webminiapp-0.01</b>というディレクトリができます。

<pre>
webminiapp-0.01
</pre>

<h4>カレントディレクトリの変更</h4>

　カレントディレクトは<b>cd</b>コマンドで変更できます。これはWindowsと同じですね。

<pre>
cd webminiapp-0.01
</pre>

<h4>Webアプリケーションの実行</h4>

　Webアプリケーションを起動します。次のコマンドでWebアプリケーションを起動できます。

<pre>
./webminiapp
</pre>

　では以下のURLにアクセスしてみてください。「Hello World!」と表示されたら成功です。

<pre>
http://あなたのIPアドレス:8080/
</pre>

　これでWebアプリケーションが実行できましたね。

　8080というのはポート番号です。Webアプリケーションが8080というポート番号で起動しているので、8080にアクセスしています。

　普段は以下のような感じで指定しますね。

<pre>
http://あなたのIPアドレス
</pre>

　実はこれは以下の記述の省略系になっています。

<pre>
http://あなたのIPアドレス:80
</pre>

　省略するとポート番号が80番でアクセスするという意味になります。

　もしアプリケーションを停止させたい場合は<b>--stop</b>オプションで停止できます。

<pre>
./webminiapp --stop
</pre>

　またログをは以下のファイルに出力されます。

<pre>
log/production.log
</pre>

　moreコマンドを使えば、ログを見ることもできます。

<pre>
more log/production.log
</pre>

　スペースキーでログが進み、qを押すと続きをみるのをキャンセルできます。

<h3>ポート番号80番でWebアプリケーションにアクセスする</h3>

　でもやっぱり80番ポートで、Webアプリケーションを実行したいですね。方法はいくつかあるのですが、ここでは応用が利かないけれど一番簡単な、ポートフォーワードという方法を試してみましょう。

　8080でアプリケーションが起動しているので、80番ポートにアクセスがあった場合に8080に転送すればよいわけですね。

　これはrootユーザーで作業します。

<pre>
su -
</pre>

　以下のコマンドを実行します。iptablesというコマンドを使います。

<pre>
iptables -t nat -I PREROUTING -p tcp --dport 80 -j REDIRECT --to-port 8080
/etc/rc.d/init.d/iptables save
service iptables restart
</pre>

<h4>ポートフォワード</h4>

　一つ目のコマンドでポートフォワードの設定をしています。80番ポートへのアクセスを8080に転送します。

<pre>
iptables -t nat -I PREROUTING -p tcp --dport 80 -j REDIRECT --to-port 8080
</pre>

<h4>内容の保存</h4>

　設定した内容を保存しています。

<pre>
/etc/rc.d/init.d/iptables save
</pre>

<h4>iptablesの再起動</h4>

　iptablesを再起動しています。

<pre>
service iptables restart
</pre>

<h4>80番ポートでアクセスしてみる</h4>

　以下のURLでHello Worldと表示されれば成功です。お疲れ様でした。

<pre>
http://あなたのIPアドレス
</pre>

<h4>ポートフォワードの設定を下に戻す</h4>

　元に戻したいときは次のコマンドを実行してくださいね。後に戻すことになると思います。

<pre>
iptables -t nat -F PREROUTING
/etc/rc.d/init.d/iptables save
service iptables restart
</pre>

　<b>-F</b>オプションで設定を元に戻せます。ターゲットは<b>-t</b>オプションで<b>nat</b>テーブルを指定して、<b>PREROUTING</b>というチェーンの設定を戻すという意味になります。
