<h2>さくらVPSで「Perl + Mojolicious」Webアプリ開発 第10回 今後の目標</h2>



　さてHellow Worldアプリケーションを実行するところまでができましたね。これで、後はいろいろと改造したり、環境構築方法を覚えていくだけですね。

　Webアプリケーション開発というのは、覚える分野が多岐にわたり、応用のきくWebアプリケーションを作成するのは、簡単そうに見えて、実際にはかなりの時間や技術を要します。

　今回はどんな分野に学習が広がっていくかということをざらっと書いてみます。

<h3>Linux関連</h3>

　LinuxというOSに関して覚えていく内容は以下のようなものになります。

-よく使うLinuxコマンドを覚える
--cd, ls, tail, more, less, pwd, grep, useradd, passwd, chmod, chown, rm, rmdir
--vmstat, top, yum, rpm, chkconfig, service
-Linuxのディレクトリ構成を覚える
--/etc, /var, /home
-viを使ったテキスト編集の方法を覚える
-SSHを使ってリモート接続する方法を覚える
--あわせてTeratermなどのSSHクライアントの使い方を覚える
--WinSCPなどを使って、サーバー上のファイルを変更したり、追加したりする方法を覚える
-Postfixを使ってメールサーバーを構築する
-cronを使って、バッチ処理の定期実行の仕方を覚える
-iptablesでファイアーウォールくぉ構築する方法を覚える
-httpd(Apche)を使ってWebサーバーを構築
--mod_proxyを使って、複数のアプリケーションをデプロイできるようになること
--mod_sslを使って、SSL通信ができるようになること

<h3>Perl環境構築関連</h3>

　Perlで覚えないといけないことです。

-perlbrewを使って、新しいバージョンのPerlをインストール
-cpanmを使った、CPANモジュールのインストール

<h3>Perl Webアプリケーション開発関連</h3>

-Mojoliciousの使い方いろいろ
--セッション、ディスパッチ、静的ファイルの配信、テンプレートの書き方、アプリケーションの実行方法、設定ファイル、JSONの出力など
-データベースを使ってデータを保存する方法
--DBI, DBIx::Customを使う
--SQLを使って複雑な検索クエリを書く
--ページングの処理を書けるようになる
-メールの送信方法

<h3>画面関連(HTML, CSS, JavaScript)</h3>

-HTMLの書き方
-CSSの書き方
-JavaScriptの書き方
--jQueryというライブラリの使い方

　連載では、Webアプリケーション開発に必要なことを順番に、解説していきたいと思います。Webアプリケーション開発というのは、覚えることがたくさんありますね。
