<ol class="bread" itemscope itemtype="http://schema.org/BreadcrumbList">
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    <a itemprop="item" href="/" class="bread-home">
      <span itemprop="name">
        <img src="/images/bread/home.png" alt="Mojoliciousスタートアップ">
      </span>
    </a>
    <meta itemprop="position" content="1" />
  </li>
  &#8250;
  <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
    here
  </li>
</ol>

<h2>WindowsにおけるWeb開発環境の構築</h2>

まず最初にWindowsにおける開発環境構築を行います。

Mojoliciousスタートアップで開発するPerlのWebアプリケーションは、Unix/Linux環境で実行されることを前提としています。

Unix、Linuxというのは、サーバーの用途で広く利用されているOSのことです。

WindowsはUnix/Linuxとは全く別のOSですが、ツールを利用してUnix/Linux環境を再現できます。

このツールの一つとして<b>msys2</b>というものがあります。msys2は、疑似的なUnix/Linux環境で、MojoliciousとPerlで作成したWebアプリケーションが問題なく動作します。

<h3>msys2、Perl、Mojoliciousのインストール</h3>

まず最初にmsys2をインストールします。msys2のインストール方法は、Perl入門ゼミの以下の記事で解説されていますので、チャレンジしてみましょう。

PerlとMojoliciousのインストール方法も解説されていますので、合わせて実行しましょう。

<ul>
  <li><a href="https://tutorial.perlzemi.com/blog/20180806153350.html">msys2をWindowsにインストールしてPerlを使う</a></li>
</ul>

無事に、msys2、Perl、Mojoliciousのインストールが完了しましたか? もしできなかったという場合は、Perlゼミフォーラムで質問することができるので、利用してみましょう。


