<h2>さくらVPSで「Perl + Mojolicious」Webアプリ開発 第4回 コントロールパネルからログインしよう</h2>



　今回は、実際にコントロールパネルからログインしてみましょう。

コントロールパネル

https://secure.sakura.ad.jp/vpscontrol

　IPアドレスとパスワードを入力すれば、ログインできます。ログインしたら、ページ全体をさらっと見てみましょう。いくつかの機能が見えてますね。

　まずVPSホームって所になっていますね。

<pre>
仮想サーバ情報
IPアドレス	49.212.148.211
ホスト名    	 www11197ue.sakura.ne.jp (標準)
メモリ	1GB
HDD	 100GB
ステータス    	 停止
仮想サーバ操作	    
</pre>

<h3>IPアドレス</h3>

　基本的な用語がわからないと、なかなか勉強がはかどらないですね。IPアドレスっていうのは、コンピューターを識別するための番号のようなものです。まぁ、きちんというと、コンピュータにささっているネットワークカードにIPアドレスが割り振られています。

　サーバーにNIC(ネットワークカード)がささっていて、そこにIPアドレスが振られています。IPアドレスで、49.212.148.211というのを指定すれば、ルーターを伝って、そのIPアドレスまでたどりつけるんです。

　世界中どこにいてもたどり着けます。識別してアクセスできるってなかなか良く考えるとすごいですね。

<h3>ホスト名</h3>

　初期設定は自動で割り振られたような名前になってますね。www11197ue.sakura.ne.jp。これを変更する方法はもちろんあるので、安心してください。

　ホスト名というのは、まぁドメイン名とここでは同じ意味でしょう。ドメイン名というのは、識別する名前で役割はIPアドレスと同じなのですが、IPアドレスは数値なので、文字列ではないんですね。

　ドメイン名はIPアドレスに紐づく形になっていて、基本は1対1で対応させる。DNSサーバーがこれを解決してくれる。つまり、www11197ue.sakura.ne.jpでアクセスすれば、それに対応するIPアドレスをDNSサーバーというものが教えてくれる。

　そして、IPアドレスがわかればサーバーにたどりつけるというわけ。

<h3>ステータス</h3>

　ステータスは停止となっている。これは、まだOSが起動していないということです。次回は、OSを起動してみたいと思います。
