<h2>未認証ユーザーテーブルの作成</h2>

未認証ユーザーテーブルを作成しましょう。<a href="/blog/20200107082558.html">会員登録フォームの作成</a>が終わったら、次は、データベースに未認証用ユーザーテーブルを作成します。

<h3>未認証ユーザーテーブル</h3>

未認証ユーザーテーブルとは、ユーザー認証が行われていない仮登録のユーザーを、登録しておくために使用するテーブルのことです。

会員登録のフォームが送信されるとメールアドレスとパスワードの情報が登録されますが、まだメールアドレスによるユーザー認証が終わっていません。この状態のユーザーを登録しておくのが、未認証ユーザーテーブルです。

テーブル名は「user_unauth」と名付けました。

<table>
  <tr>
    <th>フィールド</th><th>テーブルのフィールド名</th><th>型</th><th>制約</th><th>デフォルト値</ht>
  </tr>
  <tr>
    <td>ID</td><td>id</td><td>32bit整数</td><td>プライマリーキー、自動インクリメント</td><td>なし</td>
  </tr>
  <tr>
    <td>メールアドレス</td><td>mail</td><td>文字列</td><td>非ヌル</td><td>空文字</td>
  </tr>
  <tr>
    <td>ハッシュ化されたパスワード</td><td>password_crypted</td><td>文字列</td><td>非ヌル</td><td>空文字</td>
  </tr>
  <tr>
    <td>トークン</td><td>token<td>文字列</td><td>非ヌル、ユニーク</td><td>空文字</td>
  </tr>
  <tr>
    <td>トークン有効期限</td><td>token_expiration</td><td>64bit整数</td><td>非ヌル</td><td>0</td>
  </tr>
  <tr>
    <td>作成日</td><td>token_expiration</td><td>日付時刻</td><td>非ヌル</td><td>0001-01-01 00:00:00</td>
  </tr>
  <tr>
    <td>更新日</td><td>token_expiration</td><td>日付時刻</td><td>非ヌル</td><td>0001-01-01 00:00:00</td>
  </tr>
</table>

もし氏名、住所、電話番号、希望条件など、会員登録フォームに、他の入力項目がある場合などは、そのフィールドも必要になります。

<h4>MariaDBで未認証ユーザーテーブルを作成</h4>

<a href="https://mariadb.perlzemi.com/">MariaDB</a>で未認証ユーザーテーブルを作成してみましょう。

<pre>
create table user_unauth (
  id int primary key auto_increment,
  mail varchar(150) not null default '',
  password_crypted varchar(150) not null default '',
  token varchar(150) not null default '',
  token_expiration bigint not null default 0,
  created_at datetime not null default '0001-01-01 00:00:00',
  updated_at datetime not null default '0001-01-01 00:00:00',
  unique(mail),
  unique(token)
) ENGINE=InnoDB CHARSET=utf8mb4;
</pre>

utf8mb4がサポートされていることを前提としています。サポートされていない場合は、utf8にしてください。データべースエンジンは、トランザクションをサポートするために、InnoDBにします。

できる限りのフィールドにnot null制約を付けます。デフォルト値は、プライマリーキー以外のフィールドですべて設定します。

<h3>フィールドの解説</h3>

フィールドの解説です。

<h4>ID</h4>

Webシステム開発入門では、IDは、行を一意に識別できるキーを意味します。それ自体に意味を持たない整数値です。必ずすべてのテーブルに、自動的に値がインクリメントされる、IDを持たせます。他のテーブルから参照される場合は、IDを使います。

primary keyとauto_incrementを設定します。プライマリーキー制約は、フィールドに一意性と非ヌルを保証する、テーブルで一つのフィールドにだけ設定できる特別な制約です。

型は32bit整数型のintです。

<h4>ハッシュ化されたパスワード</h4>

ハッシュ化されたパスワードを保存するフィールドです。フォームで受け取ったパスワードをそのまま保存するのではないということだけ、ここでは、覚えておいてください。ハッシュ化されたパスワードについては、ユーザー認証のの処理を説明する場所で解説します。

<h4>メールアドレス</h4>

ユーザーのメールアドレスです。メールアドレスは、一意である必要があるので、unique制約を設定します。

<h4>トークン</h4>

メールを送信してユーザー認証を行うために発行されるユニークなトークンです。「356a192b7913b04c54574d18c28d46e6395428ab」のような、ランダムな値です。トークンは、一意である必要があるので、unique制約を設定します。

<h4>トークン有効期限</h4>

トークンの有効期限です。この有効期限がきれると、トークンは無効になり、ユーザー認証ができなくなります。

型は、時刻情報を十分長く先まで保持できるように、64bit整数型のbigintにしています。

<h4>作成日時</h4>

作成日時はdatetime型です。デフォルト値は、SQL標準においても有効な日時の最小値である「0001-01-01 00:00:00」です。

<h4>更新日時</h4>

更新日時はdatetime型です。デフォルト値は、SQL標準においても有効な日時の最小値である「0001-01-01 00:00:00」です。
