<h2>会員登録フォームの作成</h2>

会員登録フォームを作成してみましょう。

Mojoliciousスタートアップでは、ユーザーIDを自分で作成できる会員登録機能の実装方法を解説します。

<h3>会員登録のユーザー情報</h3>

会員登録に最低限必要なものは以下です。

<ul>
  <li>ユーザーID</li>
  <li>パスワード</li>
  <li>メールアドレス</li>
</ul>

メールアドレスが必須なのは、メールアドレスを使って、ユーザー認証を行うからです。ユーザーのメールアドレスは、ユーザー本人しか受信できないと想定できるものです。ユーザー本人しか知りえない情報を使って、ユーザーを認証を行うために、メールアドレスが必要です。

サービスの内容によって、以下の情報を取得することもあります。

<ul>
  <li>氏名</li>
  <li>住所</li>
  <li>電話番号</li>
  <li>希望条件</li>
</ul>

Mojoliciousスタートアップでは、これらの情報も任意で登録できるように実装してみます。

<h3>会員登録フォームの作成</h3>

会員登録フォームを作成してみましょう。

<pre>
<div class="signup">
  <div class="signup-block">
    <div class="signup-title">会員登録</div>
    <%= text_field 'mail', placeholder => 'メールアドレス' %>
    <%= text_field 'code', placeholder => 'ユーザーID' %>
    <%= password_field 'password', placeholder => 'パスワード' %>
    <%= submit_button '確認画面へ' %>
  </div>
</div>
</pre>
