<div class="what_is_this_site">
  <div class="inside">
    現在このサイトは、ほぼ書きかけの状態です。<a href="https://perlzemi.com/">Perl</a>を使った<b>Webシステム開発</b>の方法を解説します。ECサイトを作成し、商品の登録・更新・削除・検索ができるようになることが目標です。会員登録、ログイン機能、メール送信、メール認証、セッション管理の方法も解説します。データベースには<a href="https://mariadb.perlclub.net/">MariaDB</a>、データベースアクセスモジュールはDBIをベースにした<a href="https://dbix-custom.perlzemi.com/">DBIx::Custom</a>、Webフレームワークには<a href="https://mojolicious.perlzemi.com/">Mojolicious</a>を使用予定です。サーバーは、<a href="https://ubuntu.perlclub.net/">Ubuntu</a>, <a href="https://centos.perlclub.net/">CentOS</a>, Debian, FreeBSDなどの<a href="https://linux.perlclub.net/">Unix/Linux</a>で動かします。
  </div>
</div>

<div class="perlri_link">
  <a href="https://perlclub.net">
    初心者からはじめて<br>プロのWeb開発者<br>になれる講座なら<br>Perlクラブ
  </a>
</div>

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-4525414114581084"
     crossorigin="anonymous"></script>
     