<!-- side -->
<div class="side-list">
  <div class="side-list-title">
    講座作成
  </div>
  <ul  style="margin-bottom:30px">
    <li style="text-align:center;padding-left:0"><a href="https://perlclub.net/"><img width="110" src="https://perlzemi.com/images/kaeru_w_01.png"><br>初心者からはじめて<br>プロのWeb開発者<br>になれる講座なら<br>Perlクラブ</a></li>
  </ul>
  <div class="side-list-title">
    新着情報
  </div>
  <ul  style="margin-bottom:30px">
    <li><a href="/list.html">新着情報</a></li>
  </ul>
  <div class="side-list-title">
    関連講座
  </div>
  <ul>
    <li><a href="https://perlzemi.com/">Perlプログラミングを学ぶ</a></li>
    <li><a href="https://mojolicious.perlzemi.com/">Mojolicious入門</a></li>
    <li><a href="https://mojodoc.perlzemi.com/">Mojoliciousドキュメント</a></li>
    <li><a href="https://htmlcss.perlclub.net/">HTML・CSS入門</a></li>
    <li><a href="https://mariadb.perlclub.net/">MariaDB入門</a></li>
  </ul>
</div>
